.table {
    table-layout: fixed;
}

.tbl-wrapper {
    max-height: 500px;
    overflow-y: auto;
}

.bg-appointment-form {
    background: url(https://img4.goodfon.com/wallpaper/nbig/2/d8/abstraktsiia-geometriia-oboi-white-green-blue-squares-abstra.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.bg {
    background: url(http://www.allwhitebackground.com/images/6/Professional-Powerpoint-Background-Image-HD.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.search {
    width: 80%;
}