<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Our Service</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="assets/img/1.jpg" class="rounded" alt="Cinque Terre">
                    <h3 class="h4 mb-2">Patient's Appointment</h3>
                    <p class="text-muted mb-0">Online Appoinment through Mobile or Website</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="assets/img/2.jpg" class="rounded" alt="Cinque Terre">
                    <h3 class="h4 mb-2"> Camps </h3>
                    <p class="text-muted mb-0">Eg. Polio camps,blood donation camps etc</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="assets/img/3.jpg" class="rounded" alt="Cinque Terre">
                    <h3 class="h4 mb-2">School Details</h3>
                    <p class="text-muted mb-0">Provides All basic Details of schools </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="assets/img/4.jpg" class="rounded" alt="Cinque Terre">
                    <h3 class="h4 mb-2">School Events</h3>
                    <p class="text-muted mb-0">All Inter and Intra School Events are Here </p>
                </div>
            </div>
        </div>
    </div>
</section>