.sliders {
    position: relative;
    width: 100%;
    height: 30vw;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
}

.bg-appointment-form {
    background: url(https://wallpaperaccess.com/full/185895.jpg);
}

.page-section1 {
    padding: 1rem 0;
}